.dark-mode{
    background-color: darken($grisOscuro, $amount: 10);
    p,a,blockquote,tr{
        color: white;
    }
    h1,h2,h3,h4{
        color: gray;
    }
    .anuncio,.resumen-propiedad{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        .icono{
            filter: invert(100%);
        }
    }
    .precio{
         color: $verde;
    }
    .formulario{
        label,
        legend,
        p{
            color: gray;
        }
        input:not([type='submit']),
        textarea,
        select{
            background-color: darkgray;
            color: white;
            border: 1px solid darkgray;
        }
    }
}